server {
        listen 80;
        listen 443 ssl;
        index index.html index.htm index.nginx-debian.html;

        server_name dev-api.sita.grappus.com;
        ssl_certificate     /certs/fullchain.pem;
        ssl_certificate_key /certs/privkey.pem;

        location / {
                proxy_pass <apiurl>;
                proxy_hide_header Access-Control-Allow-Origin;
                proxy_hide_header access-control-allow-headers;
                proxy_hide_header access-control-allow-methods;
                proxy_hide_header Timing-Allow-Origin;
                proxy_set_header Origin <originurl>;
                add_header 'Access-Control-Allow-Origin' $http_origin always;
                add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
                add_header 'Access-Control-Max-Age' 1728000;
                add_header 'Access-Control-Allow-Headers' *;
                add_header 'Timing-Allow-Origin' *;
        }
}
